<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myadmin.mapper.AncMapper">

    <select id="select" parameterType="Integer" resultType="Anc">
        SELECT id, title, writer, contents, img, rdate
        FROM anc
        WHERE id=#{id}
    </select>
    <select id="selectall" resultType="Anc">
        SELECT id, title, writer, contents, img, rdate
        FROM anc
        ORDER BY id DESC
    </select>
    <insert id="insert" parameterType="Anc">
        INSERT INTO anc (id, title, writer, contents, img, rdate)
        VALUES (anc_seq.NEXTVAL,#{title},#{writer},#{contents},#{img},SYSDATE)
    </insert>
    <update id="update" parameterType="Anc">
        UPDATE anc
        SET title=#{title}, contents=#{contents}, rdate=SYSDATE, img=#{img}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM anc
        WHERE id=#{id}
    </delete>
    <select id="getpage" resultType="Anc">
        SELECT id, title, writer, contents, img, rdate
        FROM Anc
        ORDER BY id DESC
    </select>
</mapper>