<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myadmin.mapper.MrkMapper">

    <select id="search" parameterType="mrkSearch" resultType="Mrk">
        SELECT * FROM mrk
        <where>
            <if test = "title != null and !title.equals('')">
                AND title LIKE '%'||#{title}||'%'
            </if>
            <if test="rating != null and !rating.equals('')">
                rating = #{rating}
            </if>
            <if test = "writer != null and !writer.equals('')">
                AND writer LIKE '%'||#{writer}||'%'
            </if>
            <if test = "keyword != null and !keyword.equals('')">
                AND keyword LIKE '%'||#{keyword}||'%'
            </if>
        </where>
    </select>

    <select id="select" parameterType="Integer" resultType="Mrk">
        SELECT *
        FROM mrk
        WHERE id=#{id}
    </select>
    <select id="selectall" resultType="Mrk">
        SELECT *
        FROM mrk
        ORDER BY id DESC
    </select>
    <insert id="insert" parameterType="Mrk">
        INSERT INTO mrk VALUES (mrk_seq.NEXTVAL,#{title},#{lat},#{lng},#{img},#{rating},#{detail},#{writer},#{keyword})
    </insert>
    <update id="update" parameterType="Mrk">
        UPDATE mrk
        SET writer=#{writer},keyword=#{keyword},title=#{title},lat=#{lat}, lng=#{lng}, img=#{img}
            , rating=#{rating}, detail=#{detail}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM mrk
        WHERE id=#{id}
    </delete>

</mapper>