<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myadmin.mapper.StdnMapper">

    <select id="getpage" resultType="Stdn">
        SELECT l.img, l.id, l.name, l.is_attend AS isAttend, l.email, l.contact, l.rdate AS attdDate, l.is_join AS isJoin
        FROM (
            SELECT s.img, s.id, s.name, a.is_attend, s.email, s.contact, a.rdate, s.is_join, ROW_NUMBER() OVER (PARTITION BY s.id ORDER BY (TO_DATE(a.rdate, 'YYYY.MM.DD')) DESC) AS rn
            FROM stdn s
            LEFT OUTER JOIN attd a ON s.id = a.stdn_id
        ) l
        WHERE l.is_join = 1 AND l.rn = 1
    </select>
    <select id="searchpage" resultType="Stdn" parameterType="StdnSearch">
        SELECT l.img, l.id, l.name, l.is_attend AS isAttend, l.email, l.contact, l.rdate AS attdDate, l.is_join AS isJoin
        FROM (
        SELECT s.img, s.id, s.name, a.is_attend, s.email, s.contact, a.rdate, s.is_join, ROW_NUMBER() OVER (PARTITION BY s.id ORDER BY (TO_DATE(a.rdate, 'YYYY.MM.DD')) DESC) AS rn
        FROM stdn s
        LEFT OUTER JOIN attd a ON s.id = a.stdn_id
        ) l
        WHERE l.is_join = 1 AND l.rn = 1
        <if test="search1 != ''">
            AND id LIKE '%' ||  #{search1} || '%'
        </if>
        <if test="search2 != ''">
            AND name LIKE '%' ||  #{search2} || '%'
        </if>
    </select>
    <select id="approve" parameterType="String" resultType="Stdn">
        SELECT *
        FROM stdn
        WHERE is_join = '0'
    </select>
    <select id="approvesearch" parameterType="String" resultType="Stdn">
        SELECT *
        FROM stdn
        WHERE is_join = '0'
        <if test="search1 != ''">
            AND id LIKE '%' ||  #{search1} || '%'
        </if>
        <if test="search2 != ''">
            AND name LIKE '%' ||  #{search2} || '%'
        </if>
    </select>
    <update id="joinupdate" parameterType="String">
        UPDATE stdn
        SET is_join='1'
        WHERE id=#{id}
    </update>

    <select id="select" parameterType="String" resultType="Stdn">
        SELECT id, pwd, name, email, contact, img, birthday, is_subsc as isSubsc, cpn, is_exit as isExit, exit_date as exitDate, last_visit as lastVisit, is_join as isJoin, sbj1, sbj2, sbj3, login_error as loginError
        FROM stdn
        WHERE id=#{id}
    </select>
    <select id="selectall" resultType="Stdn">
        SELECT id, pwd, name, email, contact, img, birthday, is_subsc as isSubsc, cpn, is_exit as isExit, exit_date as exitDate, last_visit as lastVisit, is_join as isJoin, sbj1, sbj2, sbj3, login_error as loginError
        FROM stdn
    </select>
    <insert id="insert" parameterType="Stdn">
        INSERT INTO stdn (id, pwd, name, email, contact, is_join)
        VALUES (#{id}, #{pwd}, #{name}, #{email}, #{contact}, '1')
    </insert>
    <update id="update" parameterType="Stdn">
        UPDATE stdn
        SET pwd=#{pwd}, name=#{name}, email=#{email}, contact=#{contact}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE
        FROM stdn
        WHERE id=#{id}
    </delete>
</mapper>