<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myadmin.mapper.TestTrckrMapper">

    <select id="trcktest" parameterType="String" resultType="TestTrckr">
        SELECT SUBSTR(rdate, 6, 2) as month, SUBSTR(rdate, 9, 2) as day, score, sbj
        FROM test
        WHERE stdn_Id = #{stdnId}
    </select>
</mapper>