<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAR7ByOlaA06JQcMcFrD28jruD2fubCpGY",
        authDomain: "skilled-torus-389700.firebaseapp.com",
        projectId: "skilled-torus-389700",
        storageBucket: "skilled-torus-389700.appspot.com",
        messagingSenderId: "91308184669",
        appId: "1:91308184669:web:caeba5aa9dc362c7ace9b4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>